<div class="post_nav">
  <%= link_to 'Show', "/posts/#{post.to_param}" %> |
  <%= link_to 'Edit', "/posts/#{post.to_param}/edit" %> |
  <%= link_to 'Destroy', "/posts/#{post.to_param}", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
